interactions:
- request:
    body: ''
    headers:
      authorization:
      - Bearer REDACTED
    method: GET
    uri: https://api-bravo.edgarfiling.sec.gov/status
  response:
    body:
      string: '{"tracking":"d7da643add2b844237ccf848f50de4e0","locator":"b5nth","condition":"ACCEPTING","message":"EDGAR
        is available because EDGAR is reporting that it is operational and within
        operating hours."}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
