interactions:
- request:
    body: ''
    headers:
      authorization:
      - Bearer REDACTED
    method: GET
    uri: https://api-bravo.edgarfiling.sec.gov/fm/0003003396/verify
  response:
    body:
      string: '{"tracking":"8a7dd6a586c47330b4b0e7b0b50788da","locator":"wgs98","confirmationDueDate":"2027-06-30T00:00:00-04:00","filerApiTokenExpirationDate":"2027-05-20T00:00:00-04:00","userApiTokenExpirationDate":"2026-06-22T00:00:00-04:00","messages":[{"type":"INFO","content":null}],"canFile":true}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    status:
      code: 200
      message: OK
version: 1
